<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8499183989-8i3tjuak4invu7ghn4jn45c4ekhupdsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8499183989-8i3tjuak4invu7ghn4jn45c4ekhupdsj</string>
	<key>API_KEY</key>
	<string>AIzaSyDP6qUdogzG348uREIhvshkII4YzCIurEg</string>
	<key>GCM_SENDER_ID</key>
	<string>8499183989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication0.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-2f9e5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2f9e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8499183989:ios:908534d769383d91d6933c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-2f9e5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>